<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose a Chess AI</title>
    <link rel="stylesheet" href="/static/css/desktop_chess.css">
</head>
<body>
    <div style="display: block; align-content: center;">
        <h1>Choose an AI to Play Against</h1>
        <hr>
        <input type="submit" value="Random AI"
        onclick="window.location='/new/player-vs-ai/random';" />
        <p>An AI that makes moves at random.</p>
        <input type="submit" value="Point AI"
        onclick="window.location='/new/player-vs-ai/point';" />
        <p>An AI that chooses the next move which will give it the most points, calculated by a basic scoring algorithm.</p>
        <input type="submit" value="Advanced Point AI"
        onclick="window.location='/new/player-vs-ai/advanced_point';" />
        <p>An AI that chooses the next move which will give it the most points, calculated by a advanced scoring algorithm.</p>
        <input type="submit" value="Minimax AI"
        onclick="window.location='/new/player-vs-ai/minimax';" />
        <p>An AI that uses the Minimax algorithm to explore possible moves, rate them using a basic scoring algorithm, and choose the best move.</p>
        <input type="submit" value="Advanced Minimax AI"
        onclick="window.location='/new/player-vs-ai/advanced_minimax';" />
        <p>An AI that uses the Minimax algorithm to explore possible moves, rate them using a advanced scoring algorithm, and choose the best move.</p>
    </div>
</body>
</html>